body {
  /* background: papayawhip; */
  margin: auto 0;
}

/* logo */
.image {
  position: absolute;
  width: 13em;
  height: auto;
  right: 1%;
  top: -10px;
  margin-left: 10px;
  animation: logoo 4s 2;
  animation-fill-mode: forwards;
}
@keyframes logoo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  30% {
    opacity: 0.3;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.7);
  }
  80% {
    opacity: 0.75;
    transform: scale(0.8);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY();
  }
}

h1 {
  position: relative;
  z-index: 1;
  text-align: center;
  animation: headOne 5s infinite;
  text-shadow: 0px 3px 2px rgb(52, 25, 204);
}
:root {
  /* --Anime: headOne; */
  margin: auto;
  padding: auto;
}
@keyframes headOne {
  0% {
    color: black;
  }
  30% {
    color: red;
  }
  50% {
    color: purple;
  }
  75% {
    color: green;
  }
  100% {
    color: chocolate;
  }
}
.Intro {
  padding-left: 10px;
}
#cont-Service {
  background: rgba(123, 220, 190, 0.2);
  font-size: 1.2em;
  align-content: center;
}

/* ******************************Edit this on Mobile size Screen *************************************** */
/* Professional Experience Head */
h3 {
  font-size: 1.2em;
  text-align: center;
}
/* animation: head3 30s infinite;
}
@keyframes head3 {
  0% {
    color: black;
    transform: translateX(10px);
  }
  25% {
    color: crimson;
    transform: translateX(30px);
  }
  0% {
    color: chartreuse;
    transform: translateX(50px);
  }
  75% {
    color: rgb(185, 14, 14);
    transform: translateX(-20px);
  }
  100% {
    color: rgb(44, 2, 2);
    transform: translateX(-30px);
  }
} */

/*  Service Images */
.displayImages {
  text-align: center;
  font-weight: bold;
}
#col1 {
  width: 750px;
  height: auto;
  margin: 3px;
  border-radius: 3em;
}
#col2 {
  width: 750px;
  height: 600px;
  margin: 3px;
  border-radius: 3em;
}
#col3 {
  width: 750px;
  height: 600px;
  margin: 3px;
  border-radius: 3em;
}

/* Footer */

  .footer {
    display: flex;
    background: rgba(0, 0, 0, 0.795);
    font-size: 140%;
    width: 100%;
    justify-content: center;
  }

  .fa-facebook {
    color: rgb(255, 255, 255);
    background: rgb(7, 84, 156);
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 3px 0;
    padding: 20px;
  }

  .footer a {
    color: rgba(247, 244, 57, 0.952);
    text-decoration: none;
    padding: 20px;
  }
}

/*











 **************************************** Ipad Size *****************************************/

@media screen and (max-width: 790px) {
  .image {
    position: absolute;
    width: 14%;
    height: auto;
    top: 0;
    right: 8px;
    margin: 0px;
    margin-top: 0px;
    box-sizing: border-box;
    animation: logoo 2s 2;
    animation-fill-mode: forwards;
  }
  @keyframes logoo {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    30% {
      opacity: 0.3;
      transform: scale(0.5);
    }
    50% {
      opacity: 0.5;
      transform: scale(0.7);
    }
    80% {
      opacity: 0.75;
      transform: scale(0.8);
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
  }

  h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    text-shadow: 0px 3px 2px rgb(52, 25, 204);
    animation: headOne 5s infinite;
  }

  @keyframes headOne {
    0% {
      color: black;
    }
    30% {
      color: red;
    }
    50% {
      color: purple;
    }
    75% {
      color: green;
    }
    100% {
      color: chocolate;
    }
  }

  #cont-Service {
    padding: 2%;
    border-radius: 12px;
    min-width: fit-content;
    background: rgba(123, 220, 190, 0.2);
  }

  /*  Service Images */
  .displayImages {
    text-align: center;
    font-weight: bold;
  }
  #col1 {
    width: 480px;
    height: 400px;
    margin: 3px;
    border-radius: 3em;
  }
  #col2 {
    width: 480px;
    height: 400px;
    margin: 3px;
    border-radius: 3em;
  }
  #col3 {
    width: 480px;
    height: 400px;
    margin: 3px;
    border-radius: 3em;
  }

  /* Footer */
 .footer {
    display: flex;
    background: rgba(0, 0, 0, 0.795);
    font-size: 18px;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
  }
  .fa-facebook {
    color: rgb(255, 255, 255);
    background: rgb(7, 84, 156);
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 3px 0;
    padding: 20px;
  }

  .footer a {
    text-decoration: none;
    padding: 15px;
  }
  .footer fa-facebook {
    font-size: 20px;
  }

  .footer p {
    color: rgb(17, 1, 1);
    font-size: 15px;
    font-weight: 50;
  }



/*























 **************************************** Mobile Size *****************************************
 */
@media screen and (max-width: 470px) {
  body {
    /* background: papayawhip; */
    margin: auto 0;
  }

  /* logo */
  .image {
    position: absolute;
    width: 15%;
    height: auto;
    right: 2%;
    top: 5px;
    margin-left: 10px;
    animation: logoo 3s 7;
    animation-fill-mode: forwards;
  }
  @keyframes logoo {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    30% {
      opacity: 0.3;
      transform: scale(0.5);
    }
    50% {
      opacity: 0.5;
      transform: scale(0.7);
    }
    80% {
      opacity: 0.75;
      transform: scale(0.8);
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: translateY();
    }
  }

  h1 {
    position: relative;
    z-index: 1;
    text-align: center;
    text-shadow: 0px 3px 2px rgb(52, 25, 204);
    font-size: 1.5em;
    animation: headOne 5s infinite;
  }
  :root {
    font-size: 0.8rem;
  }
  @keyframes headOne {
    0% {
      color: black;
    }
    30% {
      color: red;
    }
    50% {
      color: purple;
    }
    75% {
      color: green;
    }
    100% {
      color: chocolate;
    }
  }

  #cont-Service {
    padding: 2%;
    border-radius: 12px;
    min-width: fit-content;
    background: rgba(123, 220, 190, 0.2);
  }

  /*  Service Images */
  .displayImages {
    text-align: center;
    font-weight: bold;
  }
  #col1 {
    width: 300px;
    height: 35vh;
    margin: 3px;
    border-radius: 3em;
  }
  #col2 {
    width: 300px;
    height: 35vh;
    margin: 3px;
    border-radius: 3em;
  }
  #col3 {
    width: 290px;
    height: 35vh;
    margin: 3px;
    border-radius: 3em;
  }

  /* Footer */
    .footer {
    display: flex;
    background: rgba(0, 0, 0, 0.795);
    font-size: 110%;
    width: 100%;
    height: auto;
    justify-content:space-evenly;
  }
  .fa-facebook {
    color: rgb(255, 255, 255);
    background: rgb(7, 84, 156);
    width: 15px;
    height: 15px;
    text-align: center;
    margin-top:10px;
    padding: 10px;
  }
  .footer a {
    text-decoration: none;
    padding: 10px;
    color:rgb(217, 245, 115);
  }

}
