/****************************** New Styling **************************************/

body {
  margin: 0;
  padding: 0;
}

/* LogoImage */

.image {
  position: absolute;
  width: 14%;
  top: 0.9%;
  right: 1%;
  margin: 5px;
  margin-top: 0px;
  box-sizing: border-box;
}

/*  head1 */
.head {
  /* display: inline-block; */
  font-size: 130%;
  padding-left: 1%;
}

#menu {
  overflow: hidden;
  background: white;
  width: 100%; /* Full width */
  text-align: center;
}

/* Links inside the navbar */
#menu a {
  /* position: block; */
  display: inline-block;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  /* float: right; */
  padding: 1%;
  text-decoration: none;
  font-size: 90%;
  outline: 0.01em solid white;
  outline-offset: -2px;
}

#menu a:hover {
  color: blue;
}

/*  Call Button */
#call {
  position: fixed;
  font-weight: bold;
  font-size: 120%;
  top: 9rem;
  text-decoration: none;
  right: 5%;
  padding: 1%;
  color: rgba(255, 0, 0, 0.9);
  background: rgba(196, 150, 150, 0.6);
}
/*  Whole page covering */
.allPage {
  min-height: calc(100vh - 20px);
  min-width: fit-content;

  border-radius: 12px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Main picture -> Image and Text inside */
.container {
  background: url("../images/color12.jpg") center/cover, no-repeat;
  background-attachment: fixed;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
.container a {
  font-style: italic;
  font-size: 140%;
  text-decoration: none;
  color: rgb(0, 255, 255);
  background-color: rgb(155, 12, 155);
  font-weight: bold;
  /* border: 1px rgb(133, 102, 133) solid;
  border-radius: 15px; */
}
/* getQoute hover */
.container a:hover {
  color: blue;
  background: #fff;
}
.needPainter {
  position: absolute;
  color: rgb(0, 0, 6);
  font-weight: bold;
  font-size: 110%;
  top: 10%;
  left: 20%;
  right: 20%;
}

/* Get a Qoute text in the first page */

.skills {
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
  font-size: 100%;
  background-color: rgba(216, 220, 224, 0.5);
  background: url("../images/color2.jpg");
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-attachment: fixed; */
  /* background-size: cover; */
  color: rgb(155, 8, 123);
  padding: 10px;
  margin: 1%;
  border: 1% gray ridge;
  border-radius: 0.4em;
  line-height: 2.5em;
  font-weight: bold;
}

.serviceImages {
  display: inline-block;
  text-align: center;
}
#col1 {
  width: 300px;
  height: 35vh;
  margin: 3px;
  border-radius: 3em;
}
#col2 {
  width: 300px;
  height: 35vh;
  margin: 3px;
  border-radius: 3em;
}
#col3 {
  width: 290px;
  height: 35vh;
  margin: 3px;
  border-radius: 3em;
}

/*  Form  */
#form {
  background: url("../images/color1.jpg") center/cover, no-repeat;
  text-align: left;
  padding-left: 15%;
  font-size: 130%;
  margin-bottom: 13px;
}
#form label,
input {
  font-size: 100%;
  width: auto;
}

/* Footer */
.footer {
  display: inline-block;
  background: rgba(0, 0, 0, 0.795);
  font-size: 90%;
  border-radius: 0.2em;
  width: 100%;
  height: auto;
}
.footer a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.61);
  text-decoration: none;
  margin: 5px;
}
